[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "2.8.0"
torchvision = "0.23.0"
pyyaml = "*"
opencv-python = "*"
matplotlib = "*"
numpy = "*"
open3d = "*"
scikit-image = "*"
tensorboard = "*"
trimesh = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.12"
