[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
pyyaml = "*"
opencv-python = "*"
matplotlib = "*"
numpy = "*"
open3d = "*"
pandas = "*"
"ruamel.yaml" = "*"
scikit-image = "*"
scipy = "*"
tensorboard = "*"
tqdm = "*"
transforms3d = "*"
trimesh = "*"
colorama = "*"

[dev-packages]

[requires]
python_version = "3.12"
