torch==2.8.0
torchvision==0.23.0
pyyaml
opencv-python
matplotlib
numpy
open3d
pandas
git+https://github.com/facebookresearch/pytorch3d.git@stable#egg=pytorch3d
ruamel.yaml
scikit-image
scipy
tensorboard
tqdm
transforms3d
trimesh
colorama
